$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

header {
  position: relative;
  height: 450px;
  width: 100%;
  text-align: center;
  background: url('../images/Luthier-Project-Header.jpg');
  background-size: cover;
  color: white;
}

legend {
  border: 0;
}

.form-control {
  text-align: center;
  color: white;
  width: 200px;
  margin: 20px auto;
  background-color: rgba(0, 0, 0, .3);

}

form#sign-up {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

form#sign-in {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

form#add-instrument {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

button#nav-add-instrument {
  display: none;
}

button#sign-out {
  display: none;
}

button#view-instruments {
  display: none;
}
input.form-control[type='number'] {
  color: white;
}
.submit {
  background-color: rgba(0, 0, 0, .8);
}

.head-div {
  position: absolute;
  width: 50%;
  height: 50%;
  margin: 10% 25%;
  top: 0;
  // background-color: rgba(0,0,0,.);

}
a {
  color: white;
}
h1 {
  font-family: "Times-New-Roman", Times, serif;
  font-size: 70px;
  color: rgba(255,255,255,.90);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
img {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}
ul {
  // margin-top: 335px;
  padding: 10px;
  background: rgba(0,0,0,0.5);
  margin-top: 329px;
  text-align: center;
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 36px;
    padding: 5px;
  }
  li {
    padding: 5px;
    display: block;
  }
}

article {
  text-align: center;
}
#instruments-div {
  // height: 500px ;
  width: auto;
}
